@font-face {
  font-family: 'Verdana';
  src: url(assets/fonts/Verdana.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Verdana';
  src: url(assets/fonts/Verdana-Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Verdana';
  src: url(assets/fonts/Verdana-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Verdana';
  src: url(assets/fonts/Verdana-Bold.ttf);
  font-weight: 700;
}
* {
  font-family: 'Verdana';
}
.rating i {
  color: #caca1b;
}
.cart_down {
  background-color: #a32c00 !important;
}
.pink i {
  color: pink;
}
.catalog {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.catalog .product-list {
  display: flex;
  flex-flow: column;
  display: grid;
  grid-gap: 40px 0;
  grid-template: repeat(4, 435px) / repeat(3, 470px);
}
.catalog .product-list form {
  box-sizing: border-box;
}
.catalog .product-list .last_child {
  grid-area: 2/1;
}
.catalog .product-list .categories input {
  opacity: 0;
}
.catalog .product-list .categories-activ {
  border: 2px solid #FF5500;
}
.catalog .product-list .product-item {
  width: 400px;
  position: relative;
  background-color: rgba(128, 128, 128, 0.1);
  /* по вертикали | по горизонтали */
  padding: 30px 0px 80px 0px;
  /* сверху | справа | снизу | слева */
  border-radius: 0.8rem;
}
.catalog .product-list .product-item .heart {
  position: absolute;
  right: 0;
}
.catalog .product-list .product-item .product-img {
  display: flex;
  justify-content: center;
}
.catalog .product-list .product-item .product-img img {
  height: 200px;
}
.catalog .product-list .product-item .product-text {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.catalog .product-list .product-item .product-text h3 {
  font-weight: 700;
  color: black;
  text-align: center;
}
.catalog .product-list .product-item .product-text .block {
  position: absolute;
  bottom: 30;
}
.catalog .product-list .product-item .product-text .block .description {
  background-color: orangered;
  width: 300px;
  padding: 20px 0px;
  /* по вертикали | по горизонтали */
  border-radius: 0.8rem 0.8rem 0px 0rem;
  /* сверху | справа | снизу | слева */
  font-size: 14pt;
  font-weight: 700;
}
.catalog .product-list .product-item .product-text .block .description a {
  text-decoration: none;
  color: inherit;
}
.catalog .product-list .product-item .product-text .block .description a p {
  margin: 0;
  color: white;
  text-align: center;
}
.catalog .product-list .product-item .product-text .block .price {
  border-radius: 0px 0px 0.8rem;
  /* сверху | горизонтально | снизу */
  display: block;
  text-align: center;
  background-color: orange;
  color: white;
  width: 300px;
  font-weight: 800;
  font-size: 17pt;
  margin-top: -1%;
  padding: 1% 0px;
  /* по вертикали | по горизонтали */
}
.fullproduct .name {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
}
.fullproduct .content_all {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.fullproduct .content_all .rating-area:not(:checked) > input {
  display: none;
}
.fullproduct .content_all .rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
  line-height: 75%;
}
.fullproduct .content_all .rating-area:not(:checked) > label:before {
  content: '★';
}
.fullproduct .content_all .rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.fullproduct .content_all .rating-area:not(:checked) > label:hover,
.fullproduct .content_all .rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.fullproduct .content_all .rating-area > input:checked + label:hover,
.fullproduct .content_all .rating-area > input:checked + label:hover ~ label,
.fullproduct .content_all .rating-area > input:checked ~ label:hover,
.fullproduct .content_all .rating-area > input:checked ~ label:hover ~ label,
.fullproduct .content_all .rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.fullproduct .content_all .rate-area > label:active {
  position: relative;
}
.fullproduct .content_box {
  width: 1000px;
  display: flex;
}
.fullproduct .content_box .ico_box {
  line-height: 150%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13pt;
  padding: 0px;
}
.fullproduct .content_box .ico_box i {
  font-size: 18pt;
}
.fullproduct .content_box .ico_box .count {
  margin-right: 24px;
}
.fullproduct .content_box .ico_box a {
  text-decoration-line: underline;
  color: #414141;
}
.fullproduct .content_box .price {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.fullproduct .content_box .cartadd {
  cursor: pointer;
  width: inherit;
  background-color: orangered;
  display: flex;
  color: white;
  gap: 8px;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}
.fullproduct .content_box .cartadd p {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}
.fullproduct .content_box .cartadd .cart {
  height: inherit;
  display: flex;
  align-items: center;
}
.fullproduct .content_box .cartadd .cart img {
  width: 32px;
  height: 32px;
}
.fullproduct .content_box .photo {
  margin-right: 40px;
  order: -1;
  height: 600px;
}
.fullproduct .content_box .photo img {
  height: inherit;
  width: auto;
}
.fullproduct .feedback {
  margin-left: 40px;
  width: 80%;
  display: flex;
  flex-flow: column;
}
.fullproduct .feedback .feed_box {
  display: flex;
}
.fullproduct .feedback .feed_box .user_box {
  margin-left: 144px;
}
.fullproduct .feedback .feed_box .user_box .comment_box {
  margin-top: 50px;
}
.fullproduct .feedback .feed_box .user_box .comment_box .comment_line .first_row {
  display: flex;
}
.fullproduct .feedback .feed_box .user_box .comment_box .comment_line .first_row .ico_el {
  margin-right: 18px;
}
.fullproduct .feedback .feed_box .user_box .comment_box .comment_line .first_row .user-name p {
  font-size: 18px;
  line-height: 225%;
  color: #414141;
  margin: 0;
}
.fullproduct .feedback .feed_box .user_box .comment_box .comment_line .second_row {
  display: flex;
  margin: 10px 0px;
  /* по вертикали | по горизонтали */
}
.fullproduct .feedback .feed_box .user_box .comment_box .comment_line .second_row p {
  margin: 0;
  margin-left: 10px;
  color: #8f8f8f;
  line-height: 165%;
  font-size: 12px;
}
.fullproduct .feedback .feed_box .user_box .txt_box {
  display: flex;
  margin-bottom: 16px;
}
.fullproduct .feedback .feed_box .user_box .txt_box .txt {
  margin-right: 16px;
}
.fullproduct .feedback .feed_box .user_box .txt_box .txt p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.fullproduct .feedback .feed_box .user_box .form_box .form {
  width: 700px;
  height: 125px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-bottom: 24px;
}
.fullproduct .feedback .feed_box .user_box .form_box .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 188px;
  background: #FCD5BA;
  border-radius: 4px;
}
.fullproduct .feedback .feed_box .user_box .form_box .btn input {
  border: none;
  outline: none;
  background: initial;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF6633;
}
.fullproduct .feedback .feed_box .left_box .stars {
  margin-right: 16px;
  line-height: 150%;
}
.fullproduct .feedback .feed_box .left_box .stars img {
  width: 16px;
  height: 16px;
}
.fullproduct .feedback .feed_box .left_box .open_box {
  display: flex;
  font-weight: 800;
  font-size: 18px;
  color: #414141;
  margin-bottom: 16px;
}
.fullproduct .feedback .feed_box .left_box .line_box .line {
  display: flex;
  margin: 2px 0px;
  /* по вертикали | по горизонтали */
}
.fullproduct .feedback .feed_box .left_box .line_box .line .stars {
  margin: 0px 16px;
  line-height: 150%;
  /* по вертикали | по горизонтали */
}
.fullproduct .feedback .feed_box .left_box .line_box .line .rating {
  width: 20px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
.fullproduct .feedback .feed_box #feedback {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 20pt;
  color: #414141;
}
.fullproduct .feedback .feed_box #feedback h2 {
  color: #414141;
}
.register,
.login,
.add,
.edit {
  /* Full-width input fields */
  /* Overwrite default styles of hr */
  /* Set a style for the submit/register button */
  /* Add a blue text color to links */
  /* Set a grey background color and center the text of the "sign in" section */
}
.register .container,
.login .container,
.add .container,
.edit .container {
  padding: 16px;
}
.register input[type=text],
.login input[type=text],
.add input[type=text],
.edit input[type=text],
.register input[type=password],
.login input[type=password],
.add input[type=password],
.edit input[type=password] {
  width: 100%;
  padding: 15px 0px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.register input[type=text]:focus,
.login input[type=text]:focus,
.add input[type=text]:focus,
.edit input[type=text]:focus,
.register input[type=password]:focus,
.login input[type=password]:focus,
.add input[type=password]:focus,
.edit input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.register form,
.login form,
.add form,
.edit form {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.register .btn,
.login .btn,
.add .btn,
.edit .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.register .btn:hover,
.login .btn:hover,
.add .btn:hover,
.edit .btn:hover {
  opacity: 1;
}
.register a,
.login a,
.add a,
.edit a {
  color: dodgerblue;
}
.register .signin,
.login .signin,
.add .signin,
.edit .signin {
  background-color: #f1f1f1;
  text-align: center;
}
